<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.75" charset="utf-8">
  <title>Edit</title>
</head>
<body>

<h1>task edit</h1>
<p id = "TTT">タイトル
  <input size="20" id="taskname" type="text" value="">
</p>

<p>説明　　
  <input size="20" id="description" type="text">
</p>

<p>Cost　　
  <select id="cost">
    <option value="undecided" selected>undecided</option>
    <option value="low">low</option>
    <option value="medium">medium</option>
    <option value="high">high</option>
  </select>
</p>

<!--<p>ラベル</p><p id =labellist></p>-->

<p><button id="edit-task">Create Task</button></p>

<script src="common.js"></script>
<script src ="edit.js"></script>

</body>
</html>
