<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.75" charset="utf-8">
  <title>Edit</title>
</head>
<body>

<h1>task edit</h1>
<p>タイトル</p>
<input size="20" id="title" type="text" value="">


<p>説明</p>
<input size="20" id="description" type="text">

<p>Cost</p>
<select id="cost"></select>

<p>ラベル</p>
<p id="labellist"></p>

<p><button id="update-task">Update Task</button></p>

<script src="common.js"></script>
<script src ="edit.js"></script>

</body>
</html>
