<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.75" charset="utf-8">
  <title>Create</title>
</head>
<body>

<h1>tacowasa operation</h1>

<p>タイトル</p>
<input size="20" id="title" type="text" value="">

<p>説明</p>
<input size="20" id="description" type="text">

<p>Stage</p>
<select id="stage"></select>

<p>Cost</p>
<select id="cost"></select>

<p>ラベル</p>
<p id="labellist"></p>

<p><button id="create-task" class="button5">Create Task</button></p>

<script src="common.js"></script>
<script src ="newtask.js"></script>

</body>
</html>
