<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <meta http-equiv="content-language" content="ja">
  <title>QR Reader</title>
  <link rel="stylesheet" href="gesture.css">
</head>
<body>

<div id="hitarea">TOUCH ME</div>

<script src="common.js"></script>
<script src="gesture.js"></script>

</body>
</html>
