<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.75">
	<meta http-equiv="content-language" content="ja">
	<link rel="stylesheet" href="gesture.css">
</head>
<body>
	<title>QR Reader</title>
	<h1>Please read the QR of any task card</h1>
	<h3>Found<p>[<span style="font-size: 40px" id="display_data"></span>]</p></h3>

	<p>Assign User　<select id="userlist"></select></p>

	<div id="hitarea">TOUCH ME</div>
	<div id="eventname">-</div>

	<script src="common.js"></script>
	<script src="gesture.js"></script>

</body>
</html>
