@charset "UTF-8";
@import "common";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#hitarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: blue;
  color: #fff;
  text-align: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
